:root{
  --title-font : 4vw;
  --card-title-font: 20px;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  outline-style: none; 
  outline-width: 1px;
}

body {
  margin : 0 0 0 0;
  justify-content: center;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.accent{
  height: 32em;
  width: auto;
}




.ebisu-container{
  /* height: 60em; */
  display : grid;
  grid-template-columns: auto auto auto auto;
  row-gap : 1em;
  column-gap: 1em;
  width: 80%;
  justify-content: center;
  left: 10%;
  right: 10%;
  position: absolute;
}

.card {
  width: 400px;
  max-width: 20em;
  height: 9em;
  background-color:rgb(10, 35, 59);
  color: rgb(255,255,255);
  border-radius: 8px;
  outline-color: rgb(0,0,0);
  outline-style: solid;
  padding: 1em 1em 1em 1em;
}

.card-with-image{
  display: flex;
  justify-content: center;
  height: 200px;
  max-height: 300px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);

}

.card-with-image img{
  object-fit: cover;
  width: 100%;
  height: max(100%, 8vh);
}

.card-title {
  font-size:var(--card-title-font);
  text-decoration: none;
} 


.card:hover{ 
  /* outline-color: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);;
  outline-style: solid; */
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.content-container{
  padding: 8em 0 0 0;
}

.content{
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  padding: 8em 0 8em 0;
  /* margin: 1em; */
}

.content-callout{
  font-size: var(--title-font);
  font-weight: 600;
  margin-top: 0;
  letter-spacing: -2px;
}

.content-text{
  display: flex;
  padding: 0 0 0 4em;
  flex-direction: column;
}

/* .rectangle{
  height: 12em;
  width: 20em;
  position: fixed;
  left: 560px;
  top: 290px;
  outline-style: solid;
  outline-color: #000000;
  animation: ;
  border-radius: 20px;
} */


.nav-button{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70px;
  color:#213547;
}

.nav-button p {
  margin: 0;
}

.nav-button:hover{
  cursor : pointer;
  outline-style: solid;
  outline-color: rgb(190, 190, 190);
  border-radius: 10px;
}
.nav-icon{
  margin: 0;
  height: 2em;
}

.contact{
  display : flex;
  flex-direction: column;
  height: 60em;
  align-items: center;
  justify-content: center;
}


.title {
  display: flex;
  justify-content: center;
  font-size: var(--title-font);
  font-weight: 600;
  letter-spacing: -2px;
}

.projects-container {
  /* height: 40em; */
  padding: 8em 0 8em 0 
}

.project-card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1em  
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .title{
    font-size: 32px;
  }

  .content-callout{
    font-size: 32px;
  }
  .project-card-list{
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .navbar .nav-button{
    display: none;
  }
  .accent{
    display: none;
  }

  .ebisu-container{
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap : 1em;
    column-gap: 1em;
    justify-content: center;
    justify-items: center;
    left: 10%;
    right: 10%;
    position: absolute;
  }

  .card-with-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  .project-card-list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}


.contact-title{
  font-size: var(--title-font);
  font-weight: 600;
  letter-spacing: -2px;
}

@media only screen and (min-width: 768px){
  .content-container{
    margin-left: 20%;
    margin-right: 20%;
  }
}

img{ margin: 0;}
a{ 
  margin: 0; 
  text-decoration: none;
}

p{ 
  margin: 0.5em 0 0.5em 0 ;
}

nav{
  margin: 0.5em 0 0 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.logo {
  height: 2em;
  padding: 0 1em 0 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
} 


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
